/* styles.css */

body {
background-color: yellow;
  padding-left: 80px;
}

h1 {
font-family: "Impact", sans-serif; 
font-size: 3em;
line-height: 2;
color: magenta; 
}

pre {
padding-left: 80px;
fin-size: 2em;
line-height: 6;
}
